@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=DM+Sans:wght@300;400;500;600&display=swap");

html {
    scroll-behavior: smooth;
    font-family: "DM Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    letter-spacing: -0.01em;
}
